@import url("https://fonts.googleapis.com/css2?family=Smythe&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verdanaFont: "Verdana", "sans-serif";
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Smythe", sans-serif;
}

#main {
  height: 1161px;
  width: 600px;
  border: 3px solid black;
}
/* start of menu */
#header {
  background-image: url(./Images/header.png);
  background-position: center;
  background-size: cover;
  height: 167px;
}

#menu-items li {
  width: 508px;
  height: 140px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(202, 197, 197);
}

ul {
  list-style: none;
}

.item {
  font-size: 28px;
}

.info {
  display: flex;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.add-btn {
  cursor: pointer;
  margin-left: auto;
}

/* end of menu */

/* start of cart */

#cart {
  margin: 0 43px;
}

#cart > h2 {
  text-align: center;
  margin: 30px 0;
}

.order-item,
#total-section {
  display: flex;
  justify-content: space-between;
}

.item-name,
#total-text {
  font-size: 28px;
}
.item-price,
#total-amount {
  font-size: 20px;
}

.order-item > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#cart-items .order-item,
#cart-hr {
  margin-bottom: 30px;
}

.remove-item {
  cursor: pointer;
  margin-left: 10px;
  font-size: 12px;
  font-family: var(--verdanaFont);
  color: #bbbbbb;
}

#complete-order-btn {
  height: 60px;
  width: 100%;
  display: block;
  margin: 50px auto;
  background-color: #16db99;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: var(--verdanaFont);
}

/* Placeholder For Form styles */
